# Frontend (React)
memora-web/node_modules/

# Backend (Node.js)
memora-backend/node_modules/

# AI Server (FastAPI)
memora-ai-server/venv/
memora-ai-server/__pycache__/

# IDEs
.idea/
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Environment files
*.env
.env

# Log files
*.log
npm-debug.log
yarn-debug.log

# Database files (if using SQLite)
*.db
